{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/attendance.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <title>Face Verification</title>
</head>
<body class="bg bg-dark">
    <div class="loader-container" id="loader">
        <div class="ripple"></div>
    </div>
    <main>
        <div class="container text-center">
            <h1 class="text-white">Face Verification Test</h1>
            <h2 class="text-white">Current Time: <span id="current-time">{{ timestamp }}</span></h2>
            <div class="row g-0"> 
                <div class="col-md-12" id="video-container">
                    <canvas class="align-self-stretch" id="canvas"></canvas>
                    <video class="align-self-stretch" id="video" autoplay muted></video>
                    
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/face-api.min.js' %}"></script>
    <script type="module">
        import tensorflowtfjs from 'https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.21.0/+esm'
    </script>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {

            // Function to format the date and time
            function updateCurrentTime() {
                const currentTimeElement = document.getElementById('current-time');
                
                // Create a new Date object
                const now = new Date();

                // Format the date and time
                const options = {
                    year: 'numeric', 
                    month: '2-digit', 
                    day: '2-digit', 
                    hour: '2-digit', 
                    minute: '2-digit', 
                    second: '2-digit',
                    hour12: true // Use 12-hour format
                };
                
                // Get formatted date string
                const formattedTime = now.toLocaleString('en-PH', options);
                
                // Update the innerText of the span
                currentTimeElement.innerText = formattedTime;
            }

            // Initial call to display the time immediately
            updateCurrentTime();

            // Update the time every second
            setInterval(updateCurrentTime, 1000);

            const loader = document.getElementById('loader');
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');
            const form = document.getElementById('form-container');
            
            let lastDetectionTime = Date.now();
            const detectionInterval = 1000; // 2 seconds between consecutive face captures
            let matches = [];        // Array to hold recognized names
            let employee_numbers = [];  // hold recognized employee_ids
            let messages = [];       // hold recognized messages

            let employeeName = document.getElementById('employeeName');
            let employeeID = document.getElementById('employeeID');
            let faceDetected = false // Flag to check if a face is detected

            function adjustCanvasSize(video, canvas) {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                video.width = video.videoWidth;
                video.height = video.videoHeight;
            }

            function getCameraStream() {
                const constraints = {
                    video: {
                        width: { ideal: window.innerWidth },
                        height: { ideal: window.innerHeight },
                        facingMode: "user"
                    }
                };

                // Access webcam stream
                navigator.mediaDevices.getUserMedia(constraints)
                .then(stream => {
                    video.srcObject = stream;
                    video.addEventListener('loadedmetadata', () => {
                        adjustCanvasSize(video, canvas);
                    });
                })
                .catch(err => {
                    console.error("Error accessing webcam: " + err);
                    alert("Could not access the camera. Please check camera permissions and try again.");
                });
            }

            async function loadModels() {
                try {
                    const modelPath = '{% static "js/" %}';
                    await faceapi.nets.ssdMobilenetv1.loadFromUri(modelPath);
                    await faceapi.nets.tinyFaceDetector.loadFromUri(modelPath);
                    await faceapi.nets.faceLandmark68Net.loadFromUri(modelPath);
                    await faceapi.nets.faceRecognitionNet.loadFromUri(modelPath);
                } catch (error) {
                    console.error("Error loading models:", error);
                }
            }

            async function detectAndCaptureFaces() {
                console.log(messages)
                const detections = await faceapi.detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())
                    .withFaceLandmarks()
                    .withFaceDescriptors();

                context.clearRect(0, 0, canvas.width, canvas.height);
                let faceNames = [];

                if (faceDetected === false) {
                    
                    detections.forEach((detection, index) => {
                        const box = detection.detection.box;
                        // Determine if the face is recognized or not
                        const name = matches[index] || "Unknown";  
                        faceNames.push(name);

                        // Draw the main bounding box
                        context.beginPath();
                        context.rect(box.x, box.y, box.width, box.height);
                        context.lineWidth = 5;
                        context.strokeStyle = (name === "Unknown") ? 'red' : 'green';
                        context.stroke();

                        // Draw a solid rectangle as a background for the name
                        const textBackgroundWidth = context.measureText(name).width + 10; // Calculate width with padding
                        const textBackgroundHeight = 24; // Set a fixed height for the background box
                        const textBackgroundX = box.x;
                        const textBackgroundY = box.y > 20 ? box.y - 25 : box.y + 5; // Position it slightly above the box or below if necessary

                        context.beginPath();
                        context.rect(textBackgroundX, textBackgroundY, textBackgroundWidth, textBackgroundHeight);
                        context.fillStyle = (name === "Unknown") ? 'red' : 'green'; // Match the stroke color logic
                        context.fill();

                        // Draw the name text on top of the solid rectangle
                        context.font = '20px Arial';
                        context.fillStyle = 'white'; // Set name text color to white for better contrast
                        context.fillText(name, textBackgroundX + 5, textBackgroundY + 20);
                    });

                    if (detections.length > 0 && (Date.now() - lastDetectionTime > detectionInterval)) {
                        lastDetectionTime = Date.now(); 
                        await captureAndSendImage(faceNames); 
                        faceDetected = true;  // Set the flag to prevent multiple captures
                    } else if (detections.length === 0 && (Date.now() - lastDetectionTime > detectionInterval)) {
                        console.log('No faces detected.');
                        faceDetected = false;  // Reset the flag to allow for another face detection
                    }
                    
                }

                requestAnimationFrame(detectAndCaptureFaces);
            }

            async function captureAndSendImage(faceNames) {
                console.log("Matching...");
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                const imgData = canvas.toDataURL('image/jpeg');
                const timemode = '{{ time }}'.toLowerCase();  // Convert the time to lowercase
                
                fetch(`/face-recognition/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({ image: imgData }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Server response:', data);
                    
                    // Assuming your server sends back the names of matched faces
                    matches = data.result.map(item => item.name || item.employee_id || "Unknown");
                    employee_number = data.result.map(item => item.employee_number || "N/A");
                    profile_image = data.result.map(item => item.profile_image_url || "N/A");
                    messages = data.result.map(item => item.message || "No Content");
                    
                    // Check for valid matches (excluding "Unknown" and "No match found")
                    const validMatches = matches.filter(name => name !== "No match found");
                    const validEmployeeNumber = employee_numbers.filter(employee_number => employee_number !== "Unknown");
                    const message = messages.filter(messages => messages !== `${matches} has already checked in today.`);
                    
                    if (!matches[0].includes("Unknown") || !matches[0].includes("Spoofing")) {
                        Swal.fire({
                            title: `Face Detected: ${matches[0]}`,
                            text: "Is this your face? If not, please retry face recognition.\n\nMake sure you are in a well-lit area, facing the camera directly, with no obstructions such as masks, glasses, or shadows covering your face.",
                            icon: "question",
                            showCancelButton: true,
                            confirmButtonText: "Yes, it's me",
                            cancelButtonText: "No, it's not me",
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire({
                                    title: "Verification Successful!",
                                    text: "Face recognized successfully. Redirecting...",
                                    icon: "success",
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {
                                    window.location.href = "/dashboard/"; // Redirect to the dashboard or next step
                                });
                            } else {
                                Swal.fire({
                                    title: "Face Recognition Failed",
                                    text: "Your face was not properly recognized. Please retry face registration to ensure accurate detection.\n\nMake sure you are in a well-lit area, facing the camera directly, and without any obstructions (e.g., glasses, masks, or strong shadows).",
                                    icon: "warning",
                                    showCancelButton: true,
                                    confirmButtonText: "Go to Face Registration",
                                    cancelButtonText: "Try Again",
                                    allowOutsideClick: false,
                                    allowEscapeKey: false
                                }).then((retryResult) => {
                                    if (retryResult.isConfirmed) {
                                        faceDetected = false;  // Reset flag to allow another face detection attempt
                                    } else {
                                        Swal.fire({
                                            title: "Process Canceled",
                                            text: "You have chosen to cancel face verification. Please try again when ready.",
                                            icon: "info",
                                            timer: 2500,
                                            showConfirmButton: true
                                        }).then(() => {
                                            faceDetected = false;  // Reset flag to allow another face detection attempt
                                        });
                                    }
                                });
                            }
                        });
                    }
                    
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

            await loadModels();
            getCameraStream();
    
            window.onresize = function() {
                video.pause();
                getCameraStream();
                adjustCanvasSize(video, canvas);
            };
    
            video.addEventListener('loadedmetadata', () => {
                detectAndCaptureFaces();
            });

            setTimeout(() => {
                loader.style.display = 'none'; // Hide the spinner after 5 seconds
            }, 6000);
        });
    </script>    
</body>
</html>
