{% extends "user/base.html" %}
{% load i18n %}
{% load socialaccount %}
{% load static %}
{% load timecard %}
{% block head_title %}Dashboard{% endblock head_title %}
{% block page_content %}
<div class="container">
    <div class="row ms-3">
        <div class="col-md-6 justify-content-center align-content-stretch">
            <div class="col-md-12">{% include 'user/components/cards.html' %}</div>
            <div class="col-md-12">{% include 'user/components/charts/attendance_trends.html' %}</div>
            <div class="col-md-12">{% include 'user/components/charts/leaderboard.html' %}</div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">{% include 'user/components/user_attendance_status.html' %}</div>
            <div class="col-md-12">{% include 'user/components/charts/monthly_attendance.html' %}</div>
            <div class="col-md-12">{% include 'user/components/attendance_logs.html' %}</div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
{% endblock page_content %}
