{% extends "user/base.html" %}
{% load i18n %}
{% load socialaccount %}
{% load static %}
{% load timecard %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    
<div class="row ms-3">
    <div class="col-md-6 justify-content-center align-content-center">
        <!-- Status of User's Attendance -->
        {% include 'user/components/user_attendance_status.html' %}
    </div>
    <div class="col-md-6 justify-content-center align-content-center">
        <!-- Cards Counter -->
        {% include 'user/components/cards.html' %}
    </div>
</div>
{% endblock %}
