{% extends "user/base.html" %}
{% load i18n %}
{% load socialaccount %}
{% load static %}
{% load timecard %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container-fluid">      
    <div class="row d-flex justify-content-center">
        <!-- Navbar -->
        {% include 'user/components/navbar.html' %}
        
        <!-- Status of User's Attendance -->
        {% include 'user/components/user_attendance_status.html' %}
        
        <!-- Cards Counter -->
        {% include 'user/components/cards.html' %}
        
        <!-- Sidebar -->
        {% include 'user/components/footer.html' %}
    </div>
</div>
{% endblock %}
