{% extends 'user/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_title %}Request Leave{% endblock head_title %}
{% block page_content %}
<div class="container-fluid mx-2 p-5">
    <h2 class="text-center">Submit Leave Request</h2>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="row row-cols-2">
            {% csrf_token %}
            <div class="mb-3">
            <label for="id_start_date" class="form-label">Start Date</label>
            {{ form.start_date|add_class:"form-control" }}
            </div>

            <div class="mb-3">
            <label for="id_end_date" class="form-label">End Date</label>
            {{ form.end_date|add_class:"form-control" }}
            </div>

            <div class="mb-3">
            <label for="id_reason" class="form-label">Reason for Leave</label>
            {{ form.reason|add_class:"form-control" }}
            </div>

            <div class="mb-3">
            <label for="id_attachment" class="form-label">Attachment (optional)</label>
            {{ form.attachment|add_class:"form-control" }}
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Submit Request</button>
    </form>
</div>
<script>
    // Bootstrap 5 client-side validation
    (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
</script>
{% endblock page_content%}