{% extends "base.html" %}
{% load i18n %}
{% load allauth i18n %}
{% block content %}

{% url 'account_logout' as action_url %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4 text-center">

        <form action="{{action_url}}" method="post">
            {% csrf_token %}
            <h3>{% trans "You have been logged out." %}</h3>
            <p>{% trans "Thank you for using our service. We hope to see you again soon!" %}</p>
            <button type="submit" class="btn btn-primary">{% trans "Log In Again" %}</button>
        </form>
    </div>
</div>
{% endblock %}