{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
        <h3 class="text-center mb-4">{% trans "Reset Password" %}</h3>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="{% trans 'Email address' %}" required>
                <label for="email">{% trans "Enter your email address" %}</label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Reset Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
