:root {
    --max-width: 720px;
    --max-height: 1920px;
}

html{
    font-size: 12px;
}

body{
    width: 100%;
    height: 100dvh;
    font-size: 1.5em;
    display: grid;
    place-content: center;
    position: relative;
}

#video-container {
    position: relative;
    width: 100%;
    max-width: var(--max-width); 
    height: auto;
    margin-top: 20px;
}

video{
    width: 100%;
    height: 100%;
}

video, canvas {
    display: block;
    width: 100%;
    height: auto; 
    max-width: var(--max-width);
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255); /* Or any color you prefer */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Matches the video width */
    height: 100%; /* Matches the video height */
    
}

#button-container {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

/* Responsive for screens with max-width 768px */
@media only screen and (max-width: 768px) {
    html {
        font-size: 10px; /* Slightly reduce font size for smaller screens */
    }

    body{
        font-size: small;
    }

    #form-container {
        padding: 15px;
    }

    #video-container {
        width: 100dvw;
        max-width: 100%;
        height: calc(50dvh); /* 40% of the viewport height */
    }

    video, canvas {
        width: 100%;
        height: auto;
    }

    video {
        object-fit: cover; /* Ensure the video fits properly in smaller viewports */
    }

    canvas {
        object-fit: cover;
    }
}
/* This is for the loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ripple {
    position: relative;
    width: 50px;
    height: 50px;
}

.ripple::before, .ripple::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #FF5C35;
    opacity: 0;
    animation: ripple 3s infinite;
}

.ripple::after {
    animation-delay: 1.5s;
}

@keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}