{% load humanize %}
{% load group_filter %}
<div class="card">
    <div class="card-header text-center text-dark">
        <p class="card-title">🏆 Top 10 Employees - This Month</p>
    </div>
    <div class="card-body">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Profile</th>
                    <th>Employee</th>
                    <th>Total Hours</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in top_employees %}
                <tr {% if user|has_group:"HR ADMIN"  %} onclick="window.location=`{% url 'employee-details' employee.employee_number %}`"{% endif %}>
                    <td>{{ forloop.counter|ordinal }}</td>
                    <td class="ratio ratio-1x1" style="width: 50px; height: 50px;"><img src="{{employee.profile_image.url}}"></td>
                    <td>{{ employee.full_name }}</td>
                    <td>{{ employee.total_hours_worked|floatformat:2 }} hrs</td>
                </tr>
                </a>
                {% empty %}
                <tr>
                    <td colspan="3">No data available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>