{% block content %}
<div class="attendance-status mb-3 text-center align-self-stretch">
    <!-- Attendance Log Table -->
    <div class="card-header bg-dark text-white text-center">
        <h4 class="mb-0">Attendance Log</h4>
        <label>From: <input type="text" id="minDate" class="form-control"></label>
        <label>To: <input type="text" id="maxDate" class="form-control"></label>
    </div>
    <div class="table-responsive card-body form-control shadow p-3 bg-body rounded">
        <table id="attendanceLog" class="table table-bordered table-hover mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Clock In</th>
                    <th>Clock-Out</th>
                    <th>Total Hours</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if shiftlogs %}
                    {% for log in shiftlogs %}
                        <tr>
                            <td>{{ log.date|date:"Y-m-d" }}</td>
                            <td>{{ log.employee.full_name }}</td>
                            <td>{{ log.clock_in|time:"g:i A"|default:"0:00" }}</td>
                            <td>{{ log.clock_out|time:"g:i A"|default:"0:00" }}</td>
                            <td>{{ log.total_hours|floatformat:2|default:0 }}</td>
                            <td>
                                <span class="badge w-100
                                    {% if log.status == 'ABSENT' %}bg-danger 
                                    {% elif log.status == 'LATE' %}bg-warning 
                                    {% elif log.status == 'PRESENT' %}bg-success 
                                    {% else %}bg-secondary{% endif %}">
                                    {{ log.status }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}